<div ng-app="myapp">
    <div ng-controller="MapController">
        <div class="map-container">
            <leaflet id="map" defaults="map.defaults" geojson="features.geojson" center="map.center"></leaflet>
        </div>
        <div class="form-container">
            <form>
                <textarea rows="8" ng-model="form.text" placeholder="Enter WKT or GeoJSON ..."></textarea>
                <button class="btn btn-danger" ng-click="form.text=''" ng-disabled="form.text.length===0">Clear</button>
                <button ng-if="form.curId==null" class="btn btn-primary" ng-click="addFeature(form.text, form.autoZoom)" ng-disabled="form.text.length===0">Add</button>
                <button ng-if="form.curId!=null" class="btn btn-primary" ng-click="updateFeature(form.text, form.autoZoom, form.curId)" ng-disabled="form.text.length===0">Update</button>
                <button class="btn btn-default" ng-click="zoomToFeatures()">Zoom to fit</button>
                <input type="checkbox" ng-model="form.autoZoom">Auto fit</form>
        </div>
        <div class="feature-container">
            <ul class="list-unstyled">
                <li ng-repeat="f in features.original | orderBy:'id'" title={{f.text}}>
                    <input type="checkbox" ng-model="f.visible" ng-change="updateLayers()" ng-disabled="form.curId!=null"> <span class="name">[{{f.id+1}}] {{f.name}}</span>

                    <button class="btn btn-info btn-xs" ng-disabled="form.curId!=null || !f.visible" ng-click="editFeature(f)"><i class="glyphicon glyphicon-pencil"></i>

                    </button>
                    <button class="btn btn-danger btn-xs" ng-disabled="form.curId!=null" ng-click="deleteFeature(f)">&times;</button>
                </li>
            </ul>
        </div>
    </div>
</div>
